@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

$primary-color: #ffcc00;
$bg-color: #1a1a2e;
$text-color: #e0e0e0;
$border-color: rgba(255, 204, 0, 0.4);

html, body {
  height: 100%;
  overflow: auto; /* 웹 전체에 스크롤 */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: $bg-color;
  max-height: 100vh;
  padding-top: 10%;
  overflow: auto;
  font-family: "Lobster", cursive;

  &::-webkit-scrollbar {
    width: 18px; /* 스크롤바 너비 */
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary-color; /* 스크롤바 색상 */
    border-radius: 10px; /* 둥근 모서리 */
    border: 3px solid $bg-color; /* 스크롤바 외곽선 */
  }

  &::-webkit-scrollbar-track {
    background-color: #333; /* 스크롤바 트랙 배경 */
    border-radius: 10px; /* 둥근 모서리 */
  }
}

.logCard {
  width: 52%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 16px;
  margin: 20px 0;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(255, 204, 0, 0.3);
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $border-color;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: $primary-color;
  font-size: 1.3rem;
}

.date {
  font-weight: bold;
}

.summary {
  opacity: 0.8;
  font-weight: bold;
}

.content {
  display: flex;
  align-items: flex-start;
  white-space: pre-wrap;
  font-size: 1.1rem;
}

.characterImg {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 2px solid $primary-color;
  margin-right: 15px;
}

.bubbleContainer {
  display: flex;
  flex-direction: column;
  .delete{
    font-weight: 500;
    background: gray;
    color: white;
  }
}

.bubble {
  background: rgba(255, 255, 255, 0.2);
  color: $text-color;
  padding: 16px 16px;
  border-radius: 10px;
  margin-bottom: 8px;
  max-width: 760px;
  position: relative;
  animation: fadeIn 0.5s ease-in-out;
  white-space: pre-wrap;

  &:before {
    content: "";
    position: absolute;
    top: 10px;
    left: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid rgba(255, 255, 255, 0.2);
  }
  
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// 꿈 미등록
.noDreamLogsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: $bg-color;
  padding: 20px;
  text-align: center;
}

.noDreamLogsMessage {
  font-size: 1.5rem;
  color: $primary-color;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  border: 2px solid $primary-color;
  animation: fadeIn 0.6s ease-in-out;
  max-width: 500px;
  margin-top: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}