/* card img style */
.container {
    width: 30%;
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
  }
  
  .imgbox {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
  } 
  
 /* 버튼 스타일 */
.result-btn {
    padding: 15px 30px;
    font-size: 1.5rem;
    color: #fff;
    background-color: #ff6600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgba(255, 102, 0, 0.5);
  }
  
  .result-btn:hover {
    transform: scale(1.0);
    box-shadow: 0 0 15px rgba(255, 102, 0, 0.8);
  }
  .loading-message{
    color: #fff;
    font-size: 40px;
    margin-bottom: 30px;
  }
  .loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .wave-text {
    display: inline-block;
    animation: wave 0.4s infinite alternate;
  }

  .wave-text:nth-child(even) {
    animation-delay: 0.1s;
  }

  @keyframes wave {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-4px);
    }
  }