.imgcard {
  width: 200px;    
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgframe {  
  height: 200px;
  overflow: hidden;
}

img {
  width: 100%;
}

p {      
  width: 100%;
  padding-top: 10px;
  font-size: 16px;    
  color: #fff;    
  text-align: center; /*텍스트 가운데 정렬*/  
}

.imgcard .glow {
  position: absolute;
  top: -15px; /* 후광 효과가 카드 상단에만 나오도록 위치 설정 */
  left: 0;
  right: 0;
  height: 20px; /* 후광 효과의 높이 */
  background: rgba(255, 255, 255, 0.8); /* 밝은 빛을 위한 색 */
  box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0.6); /* 상단에 빛나는 효과 */
  border-radius: 50%; /* 후광을 부드럽게 */
  z-index: -1; /* 카드의 다른 내용보다 뒤로 가도록 설정 */
}

/* isSelected 상태일때 빛나는 스타일 부여 */
.textglow {
  animation: glow 1.5s ease-in-out infinite alternate;
}

/* 공통 카드 스타일 */
.card-grade {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  padding: 10px;
  z-index: 100;  
  border-radius: 5px;
  color: #fff;
  box-sizing: border-box; /* 패딩과 테두리를 포함한 크기 계산 */
  display: flex;  
  justify-content: center;
  align-items: center; 
}

/* FREE 글씨 색 */
.free-grade-card p {  
  color: #D3D3D3;
}

/* PREMIUM 글씨 색 */
.premium-grade-card p {  
  color: #F8C20D;
}

/* 텍스트 스타일 */
.card-grade p {
  text-align: right;
  padding-top: 0px;
  margin: 0;
  font-weight: bold; 
  font-size: 14px; 
}

/* 호버 효과 */
.card-grade:hover {
  opacity: 0.9;
  cursor: pointer;
}