.container {
  width: 30%;
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
}

.imgbox {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}



.next-btn {
  width: 20%;
  padding: 15px 30px;
  font-size: 1.5rem;
  color: #fff;
  background-color: #ff6600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 10px rgba(255, 102, 0, 0.5);
}

.next-btn:hover {
  transform: scale(1);
  box-shadow: 0 0 15px rgba(255, 102, 0, 0.8);
}
