@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.dialog {
  width: 300px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20rem auto;
  .newname {
    width: 100%;
    padding: 8px;
    background: #fff;
    border: 1px solid #ccc;
    color: #000;
    border-radius: 5px;
    font-size: 1rem;
  }
  .btns{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    button[type="submit"] {
      background: #007bff;
      color: white;
      font-family: "Noto Sans KR", serif;
      padding: 0 10px;
    }
    
    button[type="button"] {
      background: #ccc;
      color: black;
      font-family: "Noto Sans KR", serif;
      padding: 5px 10px;
    }
  }
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  font-family: "Noto Sans KR", serif;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}



button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}


